<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.alia4j.language.textadventure.presentation.TextadventureModelWizardID"
            name="%_UI_TextadventureModelWizard_label"
            class="org.alia4j.language.textadventure.presentation.TextadventureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TextadventureModelFile.gif">
         <description>%_UI_TextadventureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.alia4j.language.textadventure.presentation.TextadventureEditorID"
            name="%_UI_TextadventureEditor_label"
            icon="icons/full/obj16/TextadventureModelFile.gif"
            extensions="textadventure"
            class="org.alia4j.language.textadventure.presentation.TextadventureEditor"
            contributorClass="org.alia4j.language.textadventure.presentation.TextadventureActionBarContributor">
      </editor>
   </extension>

</plugin>
