/org.alia4j.language.textadventure.edit
/org.alia4j.language.textadventure.editor
/org.alia4j.language.textadventure.resource.textadventure
/org.alia4j.language.textadventure.resource.textadventure.ui
/org.alia4j.language.textadventure.tests
/org.emftext.commons.antlr3_3_0
/org.emftext.commons.antlr3_4_0
