<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.alia4j.language.ballandpaddle.resource.ballandpaddle.mopp.BallandpaddleMetaInformation" id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.mopp.BallandpaddleMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem">
		</super>
	</extension>
	
	<extension id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem">
		</super>
	</extension>
	
	<extension id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem">
		</super>
	</extension>
	
	<extension id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem">
		</super>
	</extension>
	
	<extension id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.alia4j.language.ballandpaddle.resource.ballandpaddle.problem">
		</super>
	</extension>
	
	<extension id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.nature" name="ballandpaddle nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.alia4j.language.ballandpaddle.resource.ballandpaddle.mopp.BallandpaddleNature">
			</run>
		</runtime>
		<builder id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.builder" name="ballandpaddle Builder">
		<builder hasNature="true">
			<run class="org.alia4j.language.ballandpaddle.resource.ballandpaddle.mopp.BallandpaddleBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.alia4j.language.ballandpaddle.resource.ballandpaddle.mopp.BallandpaddleResourceFactoryDelegator" type="ballandpaddle">
		</parser>
	</extension>
	
	<extension-point id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.alia4j.language.ballandpaddle.resource.ballandpaddle.debug.BallandpaddleLineBreakpoint" id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.debug.breakpoint" markerType="org.alia4j.language.ballandpaddle.resource.ballandpaddle.debug.lineBreakpoint.marker" name="ballandpaddle Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.ui.launchConfigurationType" delegate="org.alia4j.language.ballandpaddle.resource.ballandpaddle.launch.BallandpaddleLaunchConfigurationDelegate" modes="run,debug" name="ballandpaddle Application" sourceLocatorId="org.alia4j.language.ballandpaddle.resource.ballandpaddle.ui.sourceLocator" sourcePathComputerId="org.alia4j.language.ballandpaddle.resource.ballandpaddle.ui.sourcePathComputer" delegateName="ballandpaddle Launch Tooling" delegateDescription="This will run or debug .ballandpaddle files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.alia4j.language.ballandpaddle.resource.ballandpaddle.debug.BallandpaddleSourcePathComputerDelegate" id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.alia4j.language.ballandpaddle.resource.ballandpaddle.ui.sourceLocator" class="org.alia4j.language.ballandpaddle.resource.ballandpaddle.debug.BallandpaddleSourceLocator" name="ballandpaddle Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
