<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.alia4j.org/language/ballandpaddle"
            class="org.alia4j.language.ballandpaddle.BallandpaddlePackage"
            genModel="metamodel/ballandpaddle.text.genmodel"/>
   </extension>

</plugin>
