<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/ballandpaddle"
            class="org.alia4j.language.bp.BpPackage"
            genModel="metamodel/bp.text.genmodel"/>
   </extension>

</plugin>
